@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif; */

/* color: #24bff2;
color: #fff;
color: #F5FBFE; */

body {
    position: relative;
}

section {
/*     border: 1px solid black; */
    min-height: 100vh;
    position: relative;
}


.left-article {
    width: 40%;
    position: absolute;
    top: 100px;
    left: 100px;
}

.right-article {
    width: 40%;
    position: absolute;
    top: 100px;
    right: 80px;
}


h1 {
    font-family: 'Merriweather', serif; 
    font-size: 55px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #202020;
    margin-top: -20px;
    margin-bottom: 50px;
    line-height: 30px;
}

.button-dark , .button-light {
    text-decoration: none;
    font-family: 'Merriweather', serif;
    padding: 15px 20px;
    border-radius: 3px;
}

.button-dark {
    background: #202020;
    color: #fff;
    
}

.button-light {
    color: #202020;
    border: 1px solid #20202024;
    box-shadow: 2px 3px 5px #2020201f;
    margin-left: 10px;
}

div {
    /* border: 5px solid green; */
    min-height: 70vh;
    width: 900px;
    position: absolute;
    top: 0;
    right: 50px;
}

.first-img {
    background: url(../img/illustration1.gif) no-repeat right / contain;
}

.second-img {
    background: url(../img/illustration2.png) no-repeat right / contain;
    right: 850px;

}

.third-img {
    background: url(../img/illustration3.png) no-repeat right / contain;

}


.nav {
    list-style: none;
    text-align: right;
    font-family: 'Lato', sans-serif;
    
}

.nav li {
    display: inline;
    
}

.nav li a {
    text-decoration: none;
    color: #202020;
    padding-left: 20px;
}

.center-section {
    min-height: 40vh;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: -150px;
}

.center-section2 {
    min-height: 40vh;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 500px;
    margin-bottom: -100px;

}

.center-section3 {
    margin-top: 0px;
}

img {
    height: 45vh;

}

#img-left {
    position: absolute;
    left: 50px;
}

#img-center {
    position: absolute;
    left: 510px;
}

#img-right {
    position: absolute;
    right: 50px;
}

#img-left:hover {
    box-shadow: 0px 0px 11px 0px  #2020201f;
}

#img-center:hover {
    box-shadow: 0px 0px 11px 0px  #2020201f;
}

#img-right:hover {
    box-shadow: 0px 0px 11px 0px  #2020201f;
}

.examples {
    margin: 44px;
}

.examples:hover {
    box-shadow: 0px 0px 5px 5px  #2020201f;
}

#membership-box {
/*     border: 1px solid green; */
    background: #F5FBFE;
    min-height: 90vh;
    width: 30vw;
    top: 350px;
    left: calc(50% - 15vw);
    padding-top: 50px;


}

#membership-box ul {
    list-style: none;
    font-family: 'Merriweather', serif;
    line-height: 30px;
    width: 50%;
    margin: 0 auto;
    padding: 0px;
}


h2 {
    text-align: center;
    font-family: 'Merriweather', serif;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 50px;
}

#per-year {
    font-family: 'Merriweather', serif;
    color: #20202054;
}

#member-button {
    text-decoration: none;
    color: #202020;
    font-family: 'Merriweather', serif;
    color: #fff;
    background: #24bff2;
    border-radius: 5px;
    padding: 20px 70px;
    margin-top: 50px;
    display: inline-block;
}

.center-section2 article {
/*     border: 1px solid orange; */
    min-height: 150vh;
}

footer {
/*     border: 1px solid blueviolet; */
    text-align: center;
    margin-top: 100px;
}

footer ul li a{
    text-decoration: none;
    
}

footer ul li {
    list-style: none;
    font-family: 'Merriweather', serif;
    color: black;
}

footer ul li:nth-of-type(2n+1) {

    color: #20202070;
}

footer ul li a {
    line-height: 80px;
    color: #000;
}

#footer-fb::before {
    content: ".";
    color: #3b5998;
    font-size: 40px;
}

#footer-ig::before {
    content: ".";
    color: #fcaf45;
    font-size: 40px;
}

#footer-tw::before {
    content: ".";
    color: #55acee;
    font-size: 40px;
}

#footer-yt::before {
    content: ".";
    color: #c4302b;
    font-size: 40px;
}


